<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Installable on a TV box as well as a phone: a TV has no touchscreen,
         and Play filters the app out entirely unless that is declared. -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:label="ProxyPool SDK Demo"
        android:usesCleartextTraffic="true"
        android:theme="@android:style/Theme.Material">
        <activity
            android:name="com.proxypool.sample.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Makes the same APK launchable from an Android TV home screen. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
